[input_shaper]
# Supported shapers: zv, mzv, zvd, ei, 2hump_ei, 3hump_ei
#shaper_freq_x: 64.2  #36.0
#shaper_freq_y: 45.4 #39.0
#shaper_type_x: 2hump_ei #ei
#shaper_type_y: mzv #2hump_ei

#new cold
#y Recommended shaper is zv @ 35.2 Hz
#x Recommended shaper is 3hump_ei @ 82.6 Hz

shaper_freq_x: 46.2
shaper_type_x: mzv


shaper_freq_y: 34
shaper_type_y: zv 

#[adxl345]
#cs_pin: rpi:None
#axes_map: -z,y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20